@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;900');

@import 'variables';
@import '_Navbar.scss';
@import '_Filters.scss';
@import '_Products.scss';
@import '_Product.scss';
@import '_Cart.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fonts;
}

html,
body {
  background-color: $secondary-color;
  text-align: center;
}

input {
  font-family: inherit;
  font-size: 16px;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  border: none;
  outline: none;
  background-color: white;
}

select {
  border: none;
  border-radius: 0.3rem;
}

option {
  font-family: inherit;
  font-size: 16px;
  padding: 0 0.3rem;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  color: white; 
  background-color: $primary-color;
}

.btn__removeCart{
  background-color: $third-color;
}
